.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.flex-item{
  padding: 20px;
  min-width: 850px;
  min-height: 400px;
  margin-top: 50px;
  color: #000;
  font-size: 1em;
  border: 1px solid #bdbdbd;
}
.textarea{
  width:800px;
  border: 1px solid #ffa000;
  border-radius: 5px;
  outline: 0;
  padding: 10px;
}
.para{
  font-size:16px;
  line-height: 1.6
}
.btn{
  font-size: 100%;
    padding: .5em 1em;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    border: transparent;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    cursor:pointer;
    outline:0
}